@import "tailwindcss";
@theme{
  --breakpoint-*:initial;
  --breakpoint-xs:480px;
  --breakpoint-smx:500px;
  --breakpoint-sm:640px;
  --breakpoint-md:768px;
  --breakpoint-lgg:991px;
  --breakpoint-lg:1024px;
  --breakpoint-xl:1280px;
  --breakpoint-xxl:1360px;
  --breakpoint-2xl:1536px;
}

:root {
  --background: #ffffff;

}

